<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.net.chenbao.qbypseller"
    android:versionCode="1"
    android:versionName="1.0.1">

    <permission
        android:name="cn.net.chenbao.qbypseller.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />


    <uses-permission android:name="cn.net.chenbao.qbypseller.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 百度地图 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 扫码 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="cn.net.chenbao.qbypseller.WWApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/ww_app_theme">

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"

            android:value="Ue9vb4MIM3jYgwWy68y6rjekDOoWM5oF" /><!--已更换                常优客商家 xf5U1Uqbq59VTnXoCS8PiDU15M3uCevY-->
        <!-- 友盟key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="596ecaa982b63575610001e6"></meta-data><!-- 已更换                      常优客商家58d5dc817f2c7415c0000ad4-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="qbyp"></meta-data>
        <!-- 微信支付 -->
        <activity
            android:name="cn.net.chenbao.qbypseller.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!-- alipay sdk end -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"></activity>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="cn.net.chenbao.qbypseller" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="cn.net.chenbao.qbypseller" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="cn.net.chenbao.qbypseller" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="cn.net.chenbao.qbypseller.receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="cn.net.chenbao.qbypseller" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="664459c2cd640dde697e3b9e" /><!--已更换                 常优客商家07a0ee874a6dca44ff123bf9-->
        <!-- </>值来自开发者平台取得的AppKey -->

        <activity
            android:name="cn.net.chenbao.qbypseller.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.GoodsManageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.AddCategoryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.CommitInfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.AddGoodsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.ShipSettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.SystemSettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.AccountSafeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.OrderAcountActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.StoreSettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.RenewServiceActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.SystemNewsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.BusinessLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.BaseInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.FindlLoginPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.BusinessRegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.BankListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.PersonPublicListDesActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.AddBankActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.WithdrawActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.karics.library.zxing.android.CaptureActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.ImageSelectActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.OrderDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.OpenServerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.SetPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.SelectCategoryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.StoreEvaluateActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.VerifyPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/translucent_noTitleBar"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.WebViewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.LocateActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.CheckActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.bigimage.ImagePagerActivity"
            android:screenOrientation="portrait"></activity>

        <service
            android:name="cn.net.chenbao.qbypseller.service.UpdateVersionService"
            android:exported="true" />

        <activity
            android:name="cn.net.chenbao.qbypseller.activity.TBSWebViewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.AppVersionExplainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.WalletActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.OffLineOrderActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.OffLineOrderListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.PayFeeSuccessActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.SplashActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.imageSelector.MultiImageSelectorActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.RegionPickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyle"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.EditShopPhoneActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.net.chenbao.qbypseller.activity.SelectGoodsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.net.chenbao.qbypseller.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>